@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  /* background-color: rgb(7, 8, 7); */
  max-width: 428px;
  max-height: 926px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;

}

.landingPage {
  background-color: #151414;
  max-width: 428px;
  max-height: 926px;

}

.signupPage,
.loginPage,
.nativeLangPage,
.mainPage {
  max-width: 428px;
  max-height: 926px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;

}


.languageBubbles {
  margin-top: -100px;
  position: relative;
  animation: x 7s linear infinite alternate;
}

.flagBubble1,
.flagBubble3,
.flagBubble6 {
  animation: y 3s linear infinite alternate;
}

.flagBubble2,
.flagBubble4,
.flagBubble5 {
  animation: y 2s linear infinite alternate;

}

@keyframes x {
  100% {
    transform: translateX(calc(40vw - 40px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(5vh + 20px));
  }
}

/* 
.flagBubble1, .flagBubble5{
  animation: y 3s linear infinite alternate, x 3s linear infinite alternate;
}
.flagBubble2, .flagBubble4{
  animation: y 3s linear infinite alternate, x 2s linear infinite alternate;
}
.flagBubble6, .flagBubble3{
  animation: y 2s linear infinite alternate, x 2s linear infinite reverse;
}
@keyframes x {
  100% {
    transform: translateX( calc(100vw - 100px) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 10px) );
  }
} */

.signupBtn {
  background-color: #F2E56F;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #F2E56F;
  width: 120px;
  color: #151414;

}

.signupBtn:active {
  background-color: #eddd4b;

}

/* .loginBtn {
  border-radius: 10px;
  padding: 5px;
  width: 120px;
  border: 1px solid #F2E56F;
  background-color: #F2E56F;
  background: -moz-linear-gradient(left, #F2E56F, #cbc173, #c5b85d, #F6EC8D, #c7bb51);
  background: -webkit-linear-gradient(left, #F2E56F, #cbc173, #c5b85d, #F6EC8D, #c7bb51);

} */

.landing-buttons a {
  text-decoration: none;
  color: #151414;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.loginBtn a {
  color: rgb(7, 8, 7);
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 40px 50px;
  justify-content: space-between;
}

.logo {
  width: 70%;

}

.landing-logo {
  margin-top: 100px;
  margin-bottom: 30px;
}

.nav-logo {
  width: 20%;
}

.landing-buttons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  background-color: #151414;

}



/* .usercard {
  border: 2px solid black;
  width: 80%
} */


/* --------------------------------------------------------------------------- */
/* Smaller screens (intended purpose) */

@media screen and (max-width: 428px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .matchSelectionBtns {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
  }
  
  .noVote,
  .yesVote {
    width: 12%;
    margin: 10px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 30px 40px;
    justify-content: space-between;
  }

  .logo {
    width: 65%;
    /* width: 100px */
    margin: 0 auto;
    display: flex;
  }

  .nav-links li {
    width: 10px;
  }

  .nav-logo {
    width: 50%;
  }

  .signupBtn {
    border-radius: 10px;
    padding: 5px;
    width: 170px;
    height: 60px;
    margin: 7px
  }

  .appleBtn,
  .googleBtn {
    background-color: white;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: 7px
  }


  .appleBtn img,
  .googleBtn img {
    height: 50px;
  }


  .landing-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;

  }

  .landing-login {
    height: 70px;
    padding: 5px;
    background-color: #151414;
    padding-bottom: 50px;

  }

  .landing-login p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }

  .landing-login a {
    color: #F2E56F;
  }

  .signup-form,
  .login-form {
    color: rgb(255, 251, 251);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .signup-form input,
  .login-form input {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: #e4e2e2;
    border: 1px solid #F2E56F;
    margin: 10px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }

  .login-form input {
    margin: 0;

  }


  .register-button,
  .loginBtn {
    padding: 10px;
    width: 105%;
    border-radius: 10px;
    height: 60px;
    margin: 10px;
    margin-top: 20px;
    color: white;
    background-color: #151414;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;

  }

  .loginBtn {
    margin: 2px;
    margin-top: 30px;
  }

  .signupPage h1,
  .loginPage h1,
  .nativeLangPage h1 {
    font-weight: 500;
    margin: 10px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }

  .nativeLangPage h1 {
    text-align: center;
  }

  .signupPage-login,
  .loginPage-signup {
    margin: 0 auto;
  }

  .backBtn {
    display: flex;
    padding: 50px;
    justify-content: flex-start;
  }

  .flags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px
  }

  .mainPage-top {
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px
  }

  .logo-mainPage {
    margin: 15px;
    width: 60%;
    height: 40px;
  }

  .notifBtn {
    margin: 20px;
    margin-right: 50px;
    width: 30px;
    height: 32px;
  }

  .matchesBtn {
    margin: 20px;
    margin-left: 30px;
    width: 38px;
    height: 38px;
  }

  .userCards-main {
    display: flex;
    
  }

  .usercard {
    border: 1px solid #cfcfcf;
    background-color: #f9f9f9;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    height: 520px;
  }

  .card-content{
    margin: 30px;
    text-align: center;
    padding: 5px
  }

  .card-content img{
    border: 8px solid #ebe083;
    border-radius: 50%;
    width: 60%
  }

  .card-content p{
    font-size: 19px;
  }

  .mainNav{
    background-color: #151414;
    display: flex;
    padding: 5px;
    left: 0;
    bottom: 0;
    position: fixed;
    justify-content: space-evenly;
    /* border-radius: 60px; */
    width: 100%;
  }

  .mainNav div{
    margin: 15px
  }
  
}